body {
	background: linear-gradient(to bottom, #f9f6ec, #ebf5f8, #9916aa, #790614);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	overflow-x: hidden;
}

/* --------S E C T I O N------------ */

section {
    height: 130vh;
    padding: 10px 110px;
    background:linear-gradient(to bottom, #0b1446 50%, #1e2e86) ;
    text-align: center;
    box-shadow: 5px 5px 5px #0f0e0ee1;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
section h2, p{
    padding: 10px 10px;
    color: aliceblue;
    text-align: start;
    text-shadow: 3px 3px black;
    position: absolute;
    bottom: 46%;
}
section p{
    margin-bottom: 3px;

}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 30%;
}
.img img{
  width: 60%;
}

/* ---------------C A R R O S S E L----------------- */
/* .Carousel{
  
  margin-top: 4em;
  position: absolute;
  left: 60%;
  display: grid;
  justify-content: flex-end;
  align-items:normal;
}
#mainPhoto{
  width: 96%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 10px;
}
.imgCarousel{
  width: 70px;
  height: 70px;
  transition: 0.3s;
}
.imgCarousel:hover{
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  margin: 3px;
}
img{
  border-radius: 4px;
  cursor: pointer;
} */
/* -------------------------------- */

/* S E C T I O N  I N I C I O */
/* Disposição dos elementos */
.inicio {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #262626;
  }
  #SerraSul{
    width: 100%;
    height: auto;
  }
  
.sobre-texto h3 span{
  color: #902ae3;
}

.card {
  width: 190px;
  height: 254px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
  margin-left: 25%;
  margin-top: 15%;
 }
 
 .card .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 .item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
 }
 
 .item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
 }
 
 .item--1 {
  background: #c7c7ff;
 }
 
 .item--2 {
  background: #ffd8be;
 }
 
 .item--3 {
  background: #a9ecbf;
 }
 
 .item--4 {
  background: #f3bbe1;
 }
 .text {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
 }
 
 .text--1 {
  color: rgba(149,149,255,1);
 }
 
 .text--2 {
  color: rgba(252,161,71,1);
 }
 
 .text--3 {
  color: rgba(66,193,110,1);
 }
 
 .text--4 {
  color: rgba(220,91,183,1);
 }

/*-----------------------icones -----------------------*/
.colfooter { 
	width:90%; 
	height:auto; 
	float:right; 
  position: absolute;
  bottom: 12%;
  right: 2.5em;

}

.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { text-decoration:underline; }

.colfooter .titleFooter   { 

	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
	font-size:1.3em; 
	color:#ffffff; 
	padding-bottom: 0.5em; 
	margin-bottom: 0.5em; 
	border-bottom:1px #ffffff solid;
}

.colfooter p  { font-family:'open_sanslight'; color:#ffffff; font-size:1em; height:25px; } 

.botao{

  padding: 10px 12px;
  color: #fff;
  font-family: 'open_sansregular';
  letter-spacing:2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  margin-right:7px;
  
}
.botao::before {
  
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.botao:hover::before {
  
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}
.botao{

    font-size:1em;
    color:#ffffff;
    text-align:center;
    font-family:'open_sansregular';
    border:1px solid #ffffff;
    border-radius:3px;
    overflow: hidden!important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}
.botao:hover{

    border: 1px solid #262626;
    color: #902ae3!important;
}
.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #262626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 
.botao::after {
 
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #881ad1;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.botao:hover::before, .botao:hover::before{
   
    opacity:1;
    width: 120%;

}
.botao:hover::after, .botao:hover::after{

    opacity:1;
    width: 150%;

}

/* ---------------- fim icones ---------------- */


 /* R E S P O N S I V I D A D E */

 /* AQUI SERVE PARA TELAS DE 600PX E INFERIOR */
@media screen and (max-width: 600px) {
	.instagram-icon {
		width: 30px;
		height: 30px;
	}
  .github-icon {
		width: 30px;
		height: 30px;
	}
}
/*  */

@media only screen and (max-width: 600px) {
    section {
        font-size: 15px;
  
    }
    section h2{
      font-size: 24px;
    }
    
    .botao{
      border: 1px solid #6098FF;
      top: 0.6em;
      
    }
    .img{
      margin-top: 14em;
    }
 
    .colfooter  { 
      align-items: center;
      width:max-content; 
      margin-right:16%; 
      margin-bottom:0; }
    .colfooter:nth-of-type(3n+0){ 
      margin-right:0; 
      border-right:0;
    }
    .card{
      position: relative;
      padding: 7em ;
      left: 0.1em;
    }
    .container{
      margin-top: 3em;
      
    }
    
  }
/*  */
/* Para telas menores que 768px */
@media (max-width: 767px) {
  section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
  }
  section h2{
    top: 5em;
    left: 0.7em;
    font-size: 36px;
  }
  .container{
    top:16.7em;
   }  
  .inicio {
    margin: 0.6em;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .sobre-texto {
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    padding: 4px 4px;
    color: #fcf6f6;
  }
  
  .sobre-texto h1 {
    font-size: 1em;
    line-height: 15px;
    
    margin-bottom: 12em;
  }
  
  .sobre-texto h3 {
    font-size: 22px;
    margin-bottom: 0.74em;
  }
 
  
  .img{
    position: absolute;
    right: 3em;
    top: 16em;
    width: 87%;
  }
  .card{
    position: relative;
    top: 20vw;
    right: 8vw;
  }

  
}

/* Para telas maiores ou iguais a 768px */
@media (min-width: 768px) {
  .inicio {
    margin: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    color: #fff;
    font-family: sans-serif;
  }
  .img{
    width: max-content;
    position: absolute;
    left: 2%;
    margin-bottom: 60%;
  }
  
  .sobre-texto {
    margin-top: 1em;
    text-align: center;
    text-align:start;
    height: min-content;
    font-family: sans-serif;
  }
  
  
  .sobre-texto h1 {
    font-size: 1.2em;
    width: 15em;
  }
  
  .sobre-texto h3 {
    font-size: 1.6em;
    margin-bottom: 1em;
  }
  section h2{
    font-size: 4em;
    top: 2em;
  }
  .container{
   top: 15.7em;
   left: 2.8em;
  }
  .Carousel{
    border: #0b1446 4px solid;
    padding: 3em 3em;
   width: 49vw;
   
  }
  #mainPhoto{
    height: 10em;
    width: 10em;
  }
  
}

