nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #6c55ac;
    border-radius: 40px;

    
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #f0ebeb;
    text-decoration: none;

  }
  
  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 33%;
    
  }
  
  .menu li {
    margin: 10px 50px;
    position: relative;
    right: 5%;
  }
  
  .menu li a {
    font-size: 18px;
    color: #d4c5c5;
    text-decoration: none;
    letter-spacing: 2px;
    

  }
  
  .menu li a:hover {
    color: #a01cecc5;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .logo{
      position: absolute;
      left: 7%;
    }
    .menu {
      display: none;
      
    }
    .burger {
      display: block;
      position: absolute;
      right: 5%;
      
    }
    .burger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .burger.active span:nth-child(2) {
      opacity: 0;
    }
    .burger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
    .menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      z-index: 999;
      
    }
  }
  